html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow:auto;
  font-size: 14px;
  max-width:100vw;
  /*overflow-y: scroll;*/
}

/*.header-text {
  background: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('photo2.jpg'); background-size: 100vw;
}*/

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 1.1rem;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  font-family: 'Montserrat', arial;
  font-weight: normal;
  word-wrap: break-word;
}

.svg-container svg {
  width: 30px;
  height: 30px;
}
svg:not(:root) {
  overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*font-weight: bold;
  text-rendering: optimizeLegibility;
  /*background: linear-gradient(to right, #30CFD0 0%, #330867 100%);*/
	/*-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}
/*.img-container {
  position:fixed;
  z-index:1;
  overflow:hidden;
  height:100vh;
  /*display:flex;*/
  /*justify-content: center;
  align-items: center;*/

/*.banner {
  background-color: #fefff1;
  background-image: url('photo2.jpg');
  filter: saturate(8) hue-rotate(90deg) contrast(0.8) brightness(1.5) blur(5px);*/
  /*background-position: center center; /* First value is from left and second is from top. You can use use number as well*/*/
  /*background-repeat:no-repeat;
  background-attachment: center;*/
  /*height:100vh;*/
  /*width:100vw;
  position: fixed;
  height:60vh;
  top: 0;
  left: 0;
  z-index: -1;
}*/
.text-container {
  z-index:3;
  display: inline-block;
  /*padding-top: 80px;*/
  /*display:flex;*/
  /*flex-flow: column;*/
  height: 60vh;
  /*width: 33%;*/
  /*margin-left:0;*/
  /*justify-content: left;*/
  /*align-items: center;*/
}
.intro-header {
  display: flex;
  padding-top:50px;
}
.header-pt {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*.text-background {*/
  /*transform:skew(20deg,0deg);*/
  /*background-color:white;
  color: black;
  z-index:2;
  width:60%;
  margin-left:0;*/
  /*margin: 0 auto;*/
  /*-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);*/
  /*width:80%;*/
  /*margin:0 auto;*/
  /*height:100vh;*/
/*}*/
/*img {
    clip-path: url(#svgPath);
}*/
@keyframes img-color-animation {
  0% {
    filter: saturate(1.5) hue-rotate(90deg) contrast(0.8) brightness(1.5);
  }
  50% {
    filter: saturate(1.5) hue-rotate(180deg) contrast(0.8) brightness(1.5);
  }
  100% {
    filter: saturate(1.5) hue-rotate(90deg) contrast(0.8) brightness(1.5);
  }
}
.banner-img {
    /*filter: saturate(3) hue-rotate(90deg) contrast(0.8) brightness(1.5);*/
    animation-name: img-color-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*max-width: 100%;*/
    max-height: 66vh;
    position: relative;
    /*transform: translate(33%);*/
}
.banner-img img {
  min-height: 100%;
}
header h1 ,h2 {
    font-family: 'Megrim';
}
.proj {
  border-top: 2px solid black;
}

.header-text-h1 {
  font-size: 5rem;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 2px solid black;
  font-family: 'Monoton';
  font-family: 'Abril Fatface';
  font-family: 'Lobster';
  font-family: 'Poiret One';
  font-family: 'Cinzel Decorative';
  font-family: 'Faster One';
  font-family: 'Megrim';
}
div.subtext {
  margin-left: 1rem;
  padding: 0 1rem;
}
.img-container {
    width: 66%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.stack-skill {
  border: 1px solid #eee;
  border-radius: 2px;
  margin: 0.1rem 0.3rem;
  padding: 0.3rem;
}
.img-container img {
  min-height: 100%;
}
.test-img {
  /*min-height: 100%;*/
  /*width:100%;*/
  /*-webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0%);*/
  /*clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0%);*/


  /*max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid rgb(44,44,44);*/
}
.header-text {
  z-index: 2;
  padding: 0 3rem;
}
.projects, .projects-2 {
  background-color: white;
  color: black;
  /*width: 33%;*/
  height: 200px;
  flex-grow: 1;
  border:1px solid black;
}
.global-header {
  background-color: white; color: black;
  z-index: 5;
  width: 100%;
  height:70px;
  transition: all 2s;
  position: fixed;
}
.global-header.scrolled-header {
  color: red;
  height: 50px;
}
.global-header > div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}
.global-header nav li {
  list-style: none;
  padding: 1rem;
  transition: all 0.5s;
}
.global-header nav li:hover a{
  text-decoration: underline;
  color: #32b385;
}
.global-header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.projects-demo {
  display: flex;
  align-items: stretch;
}
.proj h2 {
  font-size: 4rem;
  text-align: center;
}
.main-box {
  width: 50%;
  border:2px solid black;
  padding: 1rem;
  margin: 0 1rem;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.proj-0, .proj-3, .proj-4, .proj-5 {
  width: 33%;
}
.proj-1  {
  width: 66%;
}

.proj-6, .proj-7{
  width: 49%;
}

@media screen and (max-width: 540px) {
  .header-text {
    padding: 0;
  }
  .intro-header {
    max-height: 530px;
  }
  .header-text h1 {
      font-size: 4rem;
  }
}
