html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow:auto;
  font-size: 14px;
  max-width:100vw;
  /*overflow-y: scroll;*/
}

/*.header-text {
  background: -webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('photo2.jpg'); background-size: 100vw;
}*/

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 1.1rem;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  font-family: 'Montserrat', arial;
  font-weight: normal;
  word-wrap: break-word;
  /*background: black;*/
}
main {
  /*background: white;*/
}

.svg-container svg {
  width: 30px;
  height: 30px;
}
svg:not(:root) {
  overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: 'Montserrat', 'Merriweather', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*font-weight: bold;
  text-rendering: optimizeLegibility;
  /*background: linear-gradient(to right, #30CFD0 0%, #330867 100%);*/
	/*-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}
/*.img-container {
  position:fixed;
  z-index:1;
  overflow:hidden;
  height:100vh;
  /*display:flex;*/
  /*justify-content: center;
  align-items: center;*/

/*.banner {
  background-color: #fefff1;
  background-image: url('photo2.jpg');
  filter: saturate(8) hue-rotate(90deg) contrast(0.8) brightness(1.5) blur(5px);*/
  /*background-position: center center; /* First value is from left and second is from top. You can use use number as well*/*/
  /*background-repeat:no-repeat;
  background-attachment: center;*/
  /*height:100vh;*/
  /*width:100vw;
  position: fixed;
  height:60vh;
  top: 0;
  left: 0;
  z-index: -1;
}*/
.text-container {
  z-index:3;
  display: inline-block;
  /*padding-top: 80px;*/
  /*display:flex;*/
  /*flex-flow: column;*/
  height: 60vh;
  /*width: 33%;*/
  /*margin-left:0;*/
  /*justify-content: left;*/
  /*align-items: center;*/
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.intro-header {
  display: flex;
  padding-top:40px;
  /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);*/
}
.header-pt {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*.text-background {*/
  /*transform:skew(20deg,0deg);*/
  /*background-color:white;
  color: black;
  z-index:2;
  width:60%;
  margin-left:0;*/
  /*margin: 0 auto;*/
  /*-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);*/
  /*width:80%;*/
  /*margin:0 auto;*/
  /*height:100vh;*/
/*}*/
/*img {
    clip-path: url(#svgPath);
}*/
@keyframes img-color-animation {
  0% {
    filter: saturate(1.5) hue-rotate(90deg) contrast(0.8) brightness(1.5);
  }
  50% {
    filter: saturate(1.5) hue-rotate(180deg) contrast(0.8) brightness(1.5);
  }
  100% {
    filter: saturate(1.5) hue-rotate(90deg) contrast(0.8) brightness(1.5);
  }
}
.banner-img {
    /*filter: saturate(3) hue-rotate(90deg) contrast(0.8) brightness(1.5);*/
    animation-name: img-color-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*max-width: 100%;*/
    max-height: 66vh;
    position: relative;
    /*transform: translate(33%);*/
}
.banner-img img {
  min-height: 100%;
}
header h1, h2 {
    font-family: 'Megrim';
}
.proj {
  /*border-top: 2px solid black;*/
}

.header-text-h1 {
  font-size: 5rem;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 2px solid black;
  font-family: 'Monoton';
  font-family: 'Abril Fatface';
  font-family: 'Lobster';
  font-family: 'Poiret One';
  font-family: 'Cinzel Decorative';
  font-family: 'Faster One';
  font-family: 'Megrim';
}
div.subtext {
  margin-left: 1rem;
  padding: 0 1rem;
}
.img-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index:3;
}
.main-container {
  max-width: 1200px;
  margin:0 auto;
  /*border: 2px solid black;*/
}
.stack-skill {
  border: 1px solid #eee;
  border-radius: 2px;
  margin: 0.1rem 0.3rem 0.1rem 0;
  padding: 0 0.2rem;
  font-size: 0.8rem;
}
.img-container img {
  min-height: 100%;
}
.test-img {
  /*min-height: 100%;*/
  /*width:100%;*/
  /*-webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0%);*/
  /*clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0 50%, 25% 0%);*/


  /*max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid rgb(44,44,44);*/
}
.header-text {
  z-index: 2;
  padding: 0 3rem;
}
.skills {
  display:flex;
  flex-flow: wrap;
}
.projects {
  background-color: white;
  color: black;
  /*border:1px solid black;*/
  margin: 2px;
  flex-grow: 1;
  display: flex;
  flex-align: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  transition: 0.5s all;
  /*background-color: black;*/
  background-size: cover;
  color: white;
  transition: all 0.5s;
  transition-duration: 1s;
  transform: translateX(0);
  overflow: hidden;
}
.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj-0 {
  /*background: url('hdLogo');*/
}
section.projects:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 800px;
  height: 500px;
  filter: blur(3px);
  background-size: cover;
}
section.projects:hover:before {
  filter: blur(0px);
}
#g-adventures:before {
  background: linear-gradient(to right, rgba(71, 38, 141, 0.3), rgba(71, 38, 141, 1)), url(./thailand_beach.jpg);
}
#bizxpro:before {
    background: linear-gradient(to right, rgba(205, 33, 39, 0.7), rgba(205, 33, 39, 1)), url(./network_wires.jpg);
}
#weather-viewer:before {
  background: linear-gradient(to right, rgba(255, 110, 0, 0.7), rgba(255, 110, 0, 1)), url(./weatherapp.png);
}
#chris-t:before {
  background: linear-gradient(to right, rgba(255, 191, 58, 0.7), rgba(254, 191, 58, 1)), url(./chris_portfolio.png);
  background-size: contain;
}
#prior-portfolio:before {
  background: linear-gradient(to right, rgba(24, 172, 177, 0.5), rgba(24, 172, 177, 1)), url(./old_portfolio.png);
  background-size: contain;
}
#animated-backgrounds:before {
  background: linear-gradient(to right, rgba(204, 61, 239, 0.4), rgba(204, 61, 239, 1)), url(./boxes.png);
  background-size: contain;
}
#walk-this-way:before {
  background: linear-gradient(to right, rgba(70, 130, 15, 0.6), rgba(70, 130, 15,  1)), url(./walk.jpg);
  background-size: cover;
}
#the-home-depot, #wild-fork-foods, #explorit {
  width: 30%;
}
#the-home-depot:before {
  background: linear-gradient(to right, rgba(253, 117, 28, 0.6), rgba(253, 117, 28,  1)), url(./thd.jpg);
  background-size: cover;
}
#wild-fork-foods:before {
  background: linear-gradient(to right, rgba(174, 56, 66, 0.6), rgba(174, 56, 66,  1)), url(./wildforks.png);
  background-size: cover;
}
#explorit:before {
  background: linear-gradient(to right, rgba(15, 40, 39, 0.6), rgba(15, 40, 39,  1)), url(./explorit.png);
  background-size: cover;
}
.card-header {
  position:relative;
  top:50%;
  margin: 0 auto;
  width: 100%;
}
.card-header h4 {
  text-align: center;
}
.card {
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.56, 0.33, 0.3, 1.09);
}
.card:hover .card.hidden {
  transform: translateX(0);
}
.card:hover .card-header.hidden {
  transform: translateX(-1000%);

}
.card.show {
  transform: translateX(0);
}
.card.hidden {
  transform: translateX(1000%);
}
.card-header.hidden {
  transform: translateX(-1000%);
}
#bizxpro {
  background: url(./network_wires.jpg);
}
#bizxpro:hover, #bizxpro:active {
  /*background-color: rgba(205, 33, 39, 1);*/
}
.projects .project-detail {
  /*color: white;*/
}
.projects.active .project-detail {
  /*color: black;*/
  border: none;
}
.proj-0, .proj-1 {
  width:47%;
}
.proj-2, .proj-3, .proj-4 {
  width: 30%;
}
.proj-5, .proj-6, .proj-7, .proj-8 {
  width: 25%;
}
h4 {
  font-size: 1.8rem;
  margin: 0;
  border-bottom: 2px solid;
}
/*.projects:hover h4 {
  text-decoration: underline;
}*/
.global-header {
  background-color: white; color: black;
  z-index: 5;
  width: 100%;
  height:70px;
  transition: all 2s;
  position: fixed;
  /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);*/
}
.global-header.scrolled-header {
  color: red;
  height: 50px;
}
.global-header > div {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.global-header nav li {
  list-style: none;
  padding: 1rem;
  transition: all 0.5s;
}
.projects-list {
  display: flex;
  flex: 1 1 3px;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
}
.global-header nav li:hover a{
  text-decoration: underline;
  color: #32b385;
}
.global-header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
.projects-demo {
  display: flex;
  align-items: stretch;
  /*flex-flow: column;*/
}
h2 {
  font-size: 4rem;
  text-align: center;
  padding-top: 2rem;
}
.main-box {
  width:100%;
  border:2px solid black;
  padding: 1rem;
  /*margin: 0 1rem;*/
  transition: 1s all;
  overflow: hidden;
}
.main-box {
  height: 0;
  padding: 0;
}
/*.main-box.open {
  height: 10rem;
  padding: 1rem;
}*/


p.skills-list {
  display: flex;
  flex-wrap: wrap;
}
.testimonial-list {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  margin: 0 auto;
}
.about {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.testimonial {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  font-size: 0.8rem;
}
.testimonial .testimonial-attribution {
  font-style: italic;
  font-size: 0.7rem;
}
.testimonial img {
  width: 50%;
  max-width: 250px;
}
.contact-info {
  text-align: center;
}
.contact-info ul, .contact-info ul li {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.5rem 2rem;
}
footer {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid black;
}
.social-link {
  width: 1.5rem;
  height: 1.5rem;
}
#contact {
  min-height: calc(100vh - 100px);
}
.contact-list {
  display:flex;
  justify-content:space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-list a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .header-text {
    padding: 0;
  }
  h4 {
    font-size: 1.3rem;
  }
  .projects-list {
    flex-direction: row;
  }
  .proj-0, .proj-1, .proj-2, .proj-3, .proj-4, .proj-5, .proj-6, .proj-7, .proj-8,  .proj-9,  .proj-10 {
    width: unset;
  }
  .projects {
    padding: 0 0.5rem;
  }
  #the-home-depot, #wild-fork-foods, #explorit {
    width: unset;
  }
  .testimonial-note, .testimonial-list {
    display: none;
  }
  .intro-header {
    padding-top: 40px;
    flex-flow: column;
    align-items: center;
  }
  .text-container {
    z-index: 3;
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
  }
  .header-text {
    background: white;
    border: 1px solid black;
  }
  .header-text h1 {
      font-size: 3rem;
  }
  .img-container {
    position: absolute;
    left:0;
    top:0;
    z-index: 2;
  }
  .banner-img {
    animation-duration: 10s;
  }
  .social-label {
    display: none;
  }
  .contact-info ul li {
    margin: 0.5rem 1rem;
    padding: 0;
  }
  .contact-info ul {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .header-text {
    padding: 0;
  }
  .intro-header {
    max-height: 530px;
  }

}
