html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

html {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 1.1rem;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}
.scrolled-header {
  background-color: red;
  position: fixed;
}
body {
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  font-family: 'Montserrat', arial;
  font-weight: normal;
  word-wrap: break-word;
}

svg:not(:root) {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h1 {
  font-size: 5rem;
  font-family: 'Monoton', 'Merriweather', Helvetica Neue, sans-serif;
  line-height: 5rem;
}

/*header {
  background: linear-gradient(to right, #14afb5, #00c18c);
}
header:hover {
  background: linear-gradient(to right, #027b80, #00966d);
/*}*/
header { background-color: black; color: white;}
main {
  max-width: 700px;
}
header > div{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav li {
  list-style: none;
  padding: 0.2rem 0.4rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

figure:hover {

}
